@inherits LayoutComponentBase
<PageTitle>Test layout</PageTitle>

<FluentDesignSystemProvider>
        <FluentHeader>
        </FluentHeader>

</FluentDesignSystemProvider>


<header>
    <h1>Test</h1>
</header>


@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code {
}
